*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F7F2;
}
section.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
div.logo{
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}
div.logo img {
    width: 150px;    
    
}
div.logo p {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.info{
    display: flex;
    flex-direction: column;
}
div.info input {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border: 0;
    padding: 8px 20px 8px 20px;
    border-width: 0px ; 
}
.input1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.input2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn{
    color: rgb(73, 73, 73);
    margin-top: 40px;
    padding: 15px 35px 15px 35px;
    border-radius: 20px;
    border-width: 0px ; 
    background-color: rgba(207, 207, 207, 0.655);
}
.btn:active{
    background-color: rgb(73, 73, 73);
    color: rgba(207, 207, 207, 0.655);
    border-width: 0px ; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.next1{
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: red;
}
.next2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;

}